<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/fayeemmooktadeer/Desktop/AutomatedJava/AppiumWeeks/appiumCamp/Week0/day5/AutomatediOS/src/test"><classes/></test></suite>