<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="mavenEndToEnd"/>
    </listeners>
    <parameter name="URL" value="https://rahulshettyacademy.com/client"/>
    <parameter name="KEY" value="webdriver.gecko.driver"/>
    <parameter name="VALUE" value="/Users/fayeemmooktadeer/Downloads/geckodriver"/>
    <test name="Regression">
        <classes>
            <class name="mavenEndToEnd"/>
        </classes>
    </test>

</suite>