<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name=" Regression Test">

        <parameter name="URL" value="http://automationpractice.com/index.php?"/>
        <parameter name="KEY" value="webdriver.gecko.driver"/>
        <parameter name="VALUE" value="/Users/fayeemmooktadeer/Downloads/geckodriver"/>
        <parameter name="USER" value="fayeemf@gmail.com"/>
        <parameter name="PASSWORD" value="Kuta123"/>

        <classes>
            <class name="POMstructure.FlightEndToEndTest"/>
        </classes>
    </test>
</suite>



<!--fayeemf@gmail.com, Kuta123-->